DJANGO_DEBUG=True
DJANGO_SECRET_KEY=replace_me
DJANGO_ALLOWED_HOSTS=*

POSTGRES_DB=transport
POSTGRES_USER=transport
POSTGRES_PASSWORD=transport
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=${REDIS_URL}
CELERY_RESULT_BACKEND=${REDIS_URL}

ELASTICSEARCH_HOST=http://elasticsearch:9200

TELEGRAM_BOT_TOKEN=
TELEGRAM_MONITOR_CHAT_ID=

FRONTEND_HOST=http://localhost:4200

ESIA_CLIENT_ID=
ESIA_CLIENT_SECRET=
ESIA_REDIRECT_URI=

