<table mat-table [dataSource]="tickets" class="tickets">
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Заголовок</th>
    <td mat-cell *matCellDef="let element" (click)="select(element)">
      {{ element.title }}
    </td>
  </ng-container>

  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef>Категория</th>
    <td mat-cell *matCellDef="let element">
      <mat-chip>{{ element.category }}</mat-chip>
    </td>
  </ng-container>

  <ng-container matColumnDef="priority">
    <th mat-header-cell *matHeaderCellDef>Приоритет</th>
    <td mat-cell *matCellDef="let element">
      <mat-chip [color]="priorityColor(element.priority)">
        {{ element.priority }}
      </mat-chip>
    </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Статус</th>
    <td mat-cell *matCellDef="let element">{{ element.status }}</td>
  </ng-container>

<ng-container matColumnDef="sentiment">
  <th mat-header-cell *matHeaderCellDef>Тон</th>
  <td mat-cell *matCellDef="let element">
    <mat-chip [color]="sentimentColor(element.sentiment)">
      {{ element.sentiment || 'neutral' }}
    </mat-chip>
  </td>
</ng-container>

  <ng-container matColumnDef="group">
    <th mat-header-cell *matHeaderCellDef>Группа</th>
    <td mat-cell *matCellDef="let element">{{ element.assigned_group }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

